/* *{
    size : 100%;
} */

@font-face {
    font-family: 'Eraser';
    src: url('./Font/Eraser.ttf');

}
body{
    margin :0;
    padding:0;
    background-color:white;
    background-image:url('./IMG/fond.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

header{
    background-color:#FFF;
    text-align:center;
    padding : 1px 0;
    margin : 1px 0;
    background-color:#669933;
}


.title{
    font-family: 'Eraser';
    color: #FFF;
    font-size: 40PX;
    margin-top: 17%;
    margin-left: 37%;
}


main{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}


.tab{
    display: flex;
    justify-content: space-between;
    width: 40%;
    justify-items: center;


}

.title3{
    font-family: 'Eraser';
    color: #FFF;
    font-size: 40PX;
    margin-left: 47%;
    margin-top: 3%;
   

 
}
.button1{
    border: none;
    width : 180px;
    border-radius: 20px;
    margin-bottom: 3px;
    background-color: transparent;
    font-family:'Eraser', sans-serif;
    color: rgb(0, 238, 255);
    font-size: 25px;
    transition: ease-in-out 0.3s;

}

.button1:hover{
    color: black;
    font-weight: italic;
}

.button2{
    border: none;
    margin-bottom: 10px;
    background-color: transparent;
    font-family:'Eraser', sans-serif;
    color: #e788c8;
    font-size: 25px;
    transition: ease-in-out 0.3s;

}

.button2:hover{
    color: black;
    font-weight: italic;
    transition: none;
}

.button3{
    border: none;
    margin-bottom: 10px;
    background-color: transparent;
    font-family:'Eraser', sans-serif;
    color: #e788c8;
    font-size: 25px;
    transition: ease-in-out 0.3s;

}

.button3:hover{
    color: black;
    font-weight: italic;
    transition: none;
}

/* table{
    margin: 0;
    float: left;
} */

table{
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 100%;
    margin-top:16%;
    /* margin-top: 80vh; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/* .bureau{


    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    line-height: 30px;
} */

#bureau1{
    color: black;
    font-size:x-large;
    padding: 1%;
    
}
#bureau2{
    color: black;
    font-size:x-large;
    padding: 1%;
}
#bureau3{
    color : black;
    font-size:x-large;
    padding: 1%;
}
#bureau4{
    color: black;
    font-size:x-large;
    padding: 1%;
}

