/*Nav*/
.navbar-brand {
    font-size: 25px;
}

#navbarCollapse a {
    font-size: 15px;
    font-family: 'Star Wars', sans-serif;
    color: yellow;
}

/*var*/
:root{
    --blanco:#fff;
    --negro:#0d1418;
    --primario: #ffc700;
    --oscuro: #d21509;
    --luminoso: #04c054;
    /* --font:; */
  }
  
  h1, h2, h3{
    margin:0;
    margin-bottom:1rem;
  }
  
  /*var*/
  body{
    height:100%;
    overflow:hidden;
    width:100%;
    box-sizing:border-box;
    font-family: 'Star Jedi', arial;
    font-size: 48px;
    background:#0d1418;
  }
  
  .bg{
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
  }
  .bgRight{
    position:absolute;
    right:0;
    width:50%;
    height:100%;
    background:#d21509 url("https://images3.alphacoders.com/114/thumb-1920-11439.png");
    background-size:cover;
    background-position:center top;
  }
  .bgLeft{
    position:absolute;
    left:0;
    width:50%;
    height:100%;
    background:#04c054 url("https://images2.alphacoders.com/124/1240656.png");
     background-size:cover;
     background-position:center;
  }
  
  #container-slider{
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .toplayer{
    width:200%;
    height:100%;
    position:relative;
    left:-100%;
  }
  
  .left{
    width: 50%;
    height: 100%;
     background:url(https://wallpapercave.com/wp/wp2539060.jpg);
    background-size:cover;
    background-position:center;
    left: 0;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .right {
    width: 50%;
    height: 100%;
    background:url(https://wallpaperaccess.com/full/5075758.jpg);
    background-size:cover;
    background-position:center;
    right: 0;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .right:before{
    position: absolute;
    right: 0;
    content:"";
    width: 100%;
    height: 100%;
    /*background: linear-gradient(90deg, rgba(255,255,255,.1) 0%, rgba(4,192,84,.5) 25%, rgba(4,192,84,.5) 75%, rgba(255,255,255,.1) 100%);*/
    z-index:1;
  }
  
  .content {
    display:flex;
    flex-direction:column;
    z-index:2;
  }
  
  .form-group{
    display:flex;
    gap:20px;
    flex-direction:column;
  }
  .content h2 {
    font-weight: 700;
    text-align:center;
    font-size: 100px;
    -webkit-text-stroke: 1px var(--blanco);
    text-transform:uppercase;
  }
  