body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../IMG/background_star\ wars.jpg);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/*Nav*/
.navbar-brand {
    font-size: 25px;
}

#navbarCollapse a {
    font-size: 15px;
    font-family: 'Star Wars', sans-serif;
    color: yellow;
}

.col{
    color:yellow
}

h1 {
    text-align: center;
}

#characterGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.characterCard {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgb(245, 244, 244);
}

.characterImage {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Ajoutez la marge en haut pour créer l'espace entre la navbar et la barre de recherche */
#searchInput {
    margin-top: 200px;
}

.centeredText {
    font-size: 24px; 
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* La hauteur de l'élément pour centrer verticalement */
  }
/* Style de base pour le dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Star Wars', sans-serif;
}

/* Style du bouton déclencheur du dropdown */
.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

/* Style du contenu du dropdown (les liens) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style des liens du dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Changement de couleur du lien lors du survol de la souris */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Affichage du dropdown lorsque le bouton est survolé ou cliqué */
.dropdown:hover .dropdown-content {
    display: block;
}
