<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Welcome</title>
</head>
<body>
  <form action="../Ctrl/execute_saveTofile.php" method="get">
    <div class="Titre">
      <label for="example">Bienvenue en classe DWM !</label>
    </div>
          <input type="submit" value="Cliquez ici pour accéder au plan de la classe">
      </form>
    </div>
   
    <!-- <div class="Bouton">
      <input type="submit" value="Cliquez ici pour accéder au plan de la classe">
    </div> -->
  
</body>
</html>










