* {
 font-family: "Roboto", sans-serif;
}
body {
 /* background: rgb(192, 0, 255); */
 background-image: url(img/bg.gif);
 background-size: cover;
}
h1 {
 text-shadow: rgb(0, 0, 0) 2px 2px;
 font-size: 50px;
 text-align: center;
 margin-bottom: 10%;
 color: aliceblue;
}
form {
 text-align: center;
}

input {
 font-size: 50px;
 background-color: rgba(255, 255, 255, 0.5);
 border-color: transparent;
 border-radius: 20px;
 padding: 2% 6% 2% 6%;
 margin-top: 100px;
 margin-bottom: 10px;
 box-shadow: 10px 10px 100px rgb(0, 0, 0);
}

form input:hover {
 color: rgba(255, 255, 255, 0.707);
 transform: scale(1.05);
}

.label {
    cursor: pointer;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent;
    border-radius: 20px;
    padding: 2% 1% 2% 1%;
    font-weight: bold;
}
.label:hover {
    color: #ffffff;
}

.input {
    display: none;
} 