* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/bg.jpg);
  margin-top: 230px;
}

header {
  max-height: 130px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  border-style: solid;
  border-bottom-color: chocolate;
  border-width: 1px;
  /* border-bottom: chocolate; */
}

header nav {
  display: flex;
}

header a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(126, 126, 126);
  /* background-color: #050505; */
  padding: 10px;
  border-radius: 20px;
}

a:hover {
  color: #d2691e;
}
.posterEpisode img {
  border-radius: 50px;
}
section {
  /* background-color: chocolate; */
  opacity: 0.65;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 50px; */
  height: 900px;
}
.posterEpisode {
  margin-right: 100px;
}
.resume {
  /* opacity: 0.25; */
  margin-left: 100px;
  margin-top: 0px;
  font-family: "Caprasimo", cursive;
  color: rgba(255, 255, 255, 1);
  width: 500px;
  height: 900px;
  /* background-color: rgb(187, 187, 187); */
  /* overflow: scroll; */
  font-size: 25px;
  max-width: 500px;
  max-height: 900px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  /* border-radius: 50px; */
}

.perso {
  /* height: 900px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.perso img {
  opacity: 0.65;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
  transition: 0.8s;

}

.perso img:hover {
  opacity: 1;
  border-radius: 50px;
  background: #d2691e;
  box-shadow: 11px 11px 22px #b3591a, -11px -11px 22px #f27923;
  transform: scale(1.05);
  transition: 0.8s;
}
.breadcrumb {
  position: fixed;
  top: 130px; /* Ajustez cette valeur en fonction de la hauteur de votre en-tête */
  left: 0;
  width: 100%;
  /* background-color: #6b6060; */
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #555;
  z-index: 1;
  /* margin-top: 100px; */
}

.breadcrumb a {
  text-decoration: none;
  color: #555;
}

.breadcrumb a:hover {
  color: #d2691e;
}

.video {
  margin-top: 35px;
  text-align: center;
}
