
@media only screen and (min-width: 600px) {


    
} 


* {

    font-family: 'Star Wars', sans-serif;

}

/* debut navbar */

nav {

    height : 200px;
    display: flex;
}


.conteneurLogo {

    border: solid black 2px;
    height:200px;
}

.conteneurLogoEpisode{

    display: flex;
    /* border-bottom: white 2px solid; */
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 200px;
    background-image: url("./images/etoiles.gif");
}

/* fin navbar */


/* debut conteneur inscription/Connexion */

.conteneurInscription {

    display: flex;
    justify-content: center;
    padding: 50px;
    border: solid black 2px;
    background-image: url("./images/etoiles.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
}

.input input {

    padding: 20px;
    color:goldenrod;
    margin: 20px;

}

input:active {

    background-color: black;
}

/* fin conteneur inscription/Connexion */


/* début baniere */

.banniere{

    /* border: white solid 2px; */
    display: flex;
    justify-content: center;
    background-image: url("./images/etoiles.gif");

}

/* fin baniere */


/* debut section episode */
.episode{

    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-image: url(./images/etoiles.gif);
    transition: transform .1s;

}

.episode  a :hover {

    transform: scale(1.2);

}

/* fin section episode */


/* Partie du style pour le footer */
/* Début footer */

.footer {
    
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
}

/* reseaux sociaux */

.ReseauxSociaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 400px;
    padding-right: 400px;
    background-color: goldenrod;

}


/* partie newletter */

.newletter {

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 10px;
    
}

.mailinput {
    display: flex;
    justify-content: center;
}

.newletter h1 {
    font-size: medium;
    margin-bottom: 10px;
    color: white;
}

.mailinput input {
    width: 250px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    text-align: center;
    padding: 10px;
    background: whitesmoke;
    
}

.mailinput button {

    background-color: black;
    color: white;
    
}

.newletter p {
    margin-top: 20px;
    color: white;
}


/* Partie concernant les CGV et les copyright */

.cgv {
    display: flex;
    color: beige;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 2px;
    background-color: black;
}

.cgv2 li, .cgv3 li, .cgv1 li {
    margin-bottom: 15px;

}

.cgv2 a, .cgv3 a, .cgv1 a {
    text-decoration: none;
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: goldenrod;

}

li {
    list-style: none;
}

/* fin footer  */