<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="connexion.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <a href="index.html"><img src="img/logo2.png" alt="logo_starwars" id="logo"></a>
        <div>
            <a href="Episode_1.html">Episode i:la Menace Fantome</a>
        </div>
        <div>
            <a href="Episode_2.html">Episode ii:L'ataque des Clones</a>
        </div>
        <div>
            <a href="Episode_3.html">Episode iii:La revanche des Siths</a>
        </div>
        <div>
            <a href="connexion.html">Connexion</a> / <a href="inscription.html">inscritption</a>
        </div>
    </header>
    <div class="wrap">
        <h1 class="register-title">Bienvenue</h1>
        <form class="register">
           <input type="email" class="register-input" placeholder="Email address">
           <input type="password" class="register-input" placeholder="Password">
           <input type="submit" value="sign-in" class="register-button">
        </form>
     </div>






    
    <footer>
        <ul id="liste-1">
            <li>Contact</li>
            <li>About us</li>
            <li>Mention Legal</li>
        </ul>
        <ul id="liste-2">
            <li><a href="https://www.facebook.com/starwars.fr/">Facebook</a></li>
            <li><a href="https://www.instagram.com/starwars.fr/">instagram</a></li>
            <li><a href="https://twitter.com/starwars.fr/">Twitter</a></li>
        </ul>
    </footer>
</body>
</html>