<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/episode.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
       
      
        <li> <a href="index.html"><img src="../img/logo2.png" alt="logo_starwars" id="logo"></a></li>
     <nav>
         <ul>     
             <li class="deroulant">Episodes
                 <ul class="sous">
                     <li><a href="Episode_1.html">Episode i:la Menace Fantome</a></li>
                     <li><a href="Episode_2.html">Episode ii:L'ataque des Clones</a></li>
                     <li><a href="Episode_3.html">Episode iii:La revanche des Siths</a></li>
                 </ul>
             </li>
             <li class="deroulant">Personages
                 <ul class="sous">  
                     <li><a href="anakin.fiche.html">Anakin Skywalker</a></li>
                     <li><a href="obiwan.fiche.html">obi Wan kenobi</a></li>
                     <li><a href="padme.fiche.html">Padme Amidala</a></li>
                 </ul> 
     

             </li class="deroulant">
             <li>vaisseaux
                 <ul class="sous">  
                     <li><a href="anakin.fiche.html">Croiseur Interstelaire</a></li>
                     <li><a href="obiwan.fiche.html">Chasseur jedi</a></li>
                     <li><a href="padme.fiche.html">Canonière Clone</a></li>
                 </ul> 
             </li>
         </ul>
     </nav>
             <div>
                 <a href="connexion.html">Connexion</a> / <a href="inscription.html">inscritption</a>
             </div>

 </header>
    <section id="resume">
    <article id="main">
        <img src="../img/L-attaque-des-Clones.jpg" alt="affiche_la_menace_fantome" class="affiche">
        <aside><p>Depuis le blocus de la planète Naboo, la République, gouvernée par le Chancelier Palpatine, connaît une crise. un groupe de dissidents, mené par le sombre Jedi comte Dooku, manifeste son mécontentement. Le Sénat et la population intergalactique se montrent pour leur part inquiets. Certains sénateurs demandent à ce que la République soit dotée d'une armée pour empêcher que la situation ne se détériore. Padmé Amidala, devenue sénatrice, est menacée par les séparatistes et échappe à un attentat</p></aside>
    </article>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/arGWLDOeoOw" title="Star Wars : L&#39;Attaque des clones – Episode II - Bande Annonce VF – 2002" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    <section id="personnage">
        <div id="padme">
            <a href="padme.fiche.html"><img id="padme" class="portrait" src="../img/padm_2.jpg" alt="la_reine_padme_amidala"></a>
            <legend>Padmé Amidala</legend>
        </div>
        <div id="obi"><a href="obiwan.fiche.html"><img id="obi" class="portrait" src="../img/ObiWanKenobi_2.webp" alt="Obi-Wan_Kenobi"></a>
        <legend>obi Wan Kenobi</legend>
    </div>
    <div id="anakin">
        <a href="anakin.fiche.html"><img id="anakin" class="portrait" src="../img/anakin_2.jpg" alt="Anakin-Skywalker"></a>
        <legend>Anakin Skywalker</legend>
    </div>
    </section>
    <footer>
        <ul id="liste-1">
            <li>Contact</li>
            <li>About us</li>
            <li>Mention Legal</li>
        </ul>
        <ul id="liste-2">
            <li><a href="https://www.facebook.com/starwars.fr/">Facebook</a></li>
            <li><a href="https://www.instagram.com/starwars.fr/">instagram</a></li>
            <li><a href="https://twitter.com/starwars.fr/">Twitter</a></li>
        </ul>
    </footer>
</body>
</html>