<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/index.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
       
      
           <li> <a href="index.html"><img src="../img/logo2.png" alt="logo_starwars" id="logo"></a></li>
        <nav>
            <ul>     
                <li class="deroulant">Episodes
                    <ul class="sous">
                        <li><a href="Episode_1.html">Episode i:la Menace Fantome</a></li>
                        <li><a href="Episode_2.html">Episode ii:L'ataque des Clones</a></li>
                        <li><a href="Episode_3.html">Episode iii:La revanche des Siths</a></li>
                    </ul>
                </li>
                <li class="deroulant">Personages
                    <ul class="sous">  
                        <li><a href="anakin.fiche.html">Anakin Skywalker</a></li>
                        <li><a href="obiwan.fiche.html">obi Wan kenobi</a></li>
                        <li><a href="padme.fiche.html">Padme Amidala</a></li>
                    </ul> 
        

                </li class="deroulant">
                <li>vaisseaux
                    <ul class="sous">  
                        <li><a href="anakin.fiche.html">Croiseur Interstelaire</a></li>
                        <li><a href="obiwan.fiche.html">Chasseur jedi</a></li>
                        <li><a href="padme.fiche.html">Canonière Clone</a></li>
                    </ul> 
                </li>
            </ul>
        </nav>
                <div>
                    <a href="connexion.html">Connexion</a> / <a href="inscription.html">inscritption</a>
                </div>
   
    </header>

   
   
    <h1 id="title">May the Force Be With You</h1>
    <!-- Slider Vaisseau --> 
        <div class="slider-container">
            <div class="menu">
                <label for="slide-dot-1"></label>
                <label for="slide-dot-2"></label>
                <label for="slide-dot-3"></label>
                <label for="slide-dot-4"></label>
                <label for="slide-dot-5"></label>
                <label for="slide-dot-6"></label>
                </div>
                
                <input class="slide-input" id="slide-dot-1" type="radio" name="slides" checked>
                <img class="slide-img" src="../img/Nubian_327_Type_J.webp">

                <input class="slide-input" id="slide-dot-2" type="radio" name="slides">
                <img class="slide-img" src="../img/Low_Altitude_Assault_Transport.webp">
                
                <input class="slide-input" id="slide-dot-3" type="radio" name="slides">
                <img class="slide-img" src="../img/i_naboo-n-1-fighter-1.jpg">

                <input class="slide-input" id="slide-dot-4" type="radio" name="slides">
                <img class="slide-img" src="../img/téléchargement.jpg">

                <input class="slide-input" id="slide-dot-5" type="radio" name="slides">
                <img class="slide-img" src="../img/i_naboo-n-1-fighter-1.jpg">

                <input class="slide-input" id="slide-dot-6" type="radio" name="slides">
                <img class="slide-img" src="../img/Destroyer_Stellaire_de_classe_Venator.webp">

            </div>
    <section id="corps">
        <div class="film" id="episode_1">
            <a href="Episode_1.html"><img src="../img/la_menace_fantome2.jpg" alt="affiche_la_menace_fantome" class="affiche"></a>
            <legend>StarWars épisode i: la menace Fantôme</legend>
        </div>
        <div class="film" id="episode_2">
            <a href="Episode_2.html"><img class="affiche" src="../img/star-wars-episode-II-attack-of-the-clones-regular.jpg" alt="affiche_l_attaque_des_clones"class="affiche" ></a>
            <legend>StarWars épisode ii: L'attaque des clones</legend>
        </div>
        <div  class="film" id="episode_3">
            <a href="Episode_3.html"><img src="../img/la_revanche_des_siths.jpg" alt="affiche_la_revanche_des_siths" class="affiche"></a>
            <legend>StarWars épisode iii: La revanche des Siths</legend>
        </div>

    </section>
<footer>

    <ul id="liste-1">
        <li>Contact</li>
        <li>About us</li>
        <li>Mention Legal</li>
    </ul>

    <ul id="liste-2">
        <li><a href="https://www.facebook.com/starwars.fr/">Facebook</a></li>
        <li><a href="https://www.instagram.com/starwars.fr/">instagram</a></li>
        <li><a href="https://twitter.com/starwars.fr/">Twitter</a></li>
    </ul>

</footer>

</body>
</html>