<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/personnage.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
       
      
        <li> <a href="index.html"><img src="../img/logo2.png" alt="logo_starwars" id="logo"></a></li>
     <nav>
         <ul>     
             <li class="deroulant">Episodes
                 <ul class="sous">
                     <li><a href="Episode_1.html">Episode i:la Menace Fantome</a></li>
                     <li><a href="Episode_2.html">Episode ii:L'ataque des Clones</a></li>
                     <li><a href="Episode_3.html">Episode iii:La revanche des Siths</a></li>
                 </ul>
             </li>
             <li class="deroulant">Personages
                 <ul class="sous">  
                     <li><a href="anakin.fiche.html">Anakin Skywalker</a></li>
                     <li><a href="obiwan.fiche.html">obi Wan kenobi</a></li>
                     <li><a href="padme.fiche.html">Padme Amidala</a></li>
                 </ul> 
     

             </li class="deroulant">
             <li>vaisseaux
                 <ul class="sous">  
                     <li><a href="anakin.fiche.html">Croiseur Interstelaire</a></li>
                     <li><a href="obiwan.fiche.html">Chasseur jedi</a></li>
                     <li><a href="padme.fiche.html">Canonière Clone</a></li>
                 </ul> 
             </li>
         </ul>
     </nav>
             <div>
                 <a href="connexion.html">Connexion</a> / <a href="inscription.html">inscritption</a>
             </div>

 </header>

    <section id="information">
        <div>
        <img class="portrait" src="../img/Padm _3.webp" alt="Anakin-Skywalker">
        </div>
        <section id="liste">
            <h2>Padmé Amidala</h2>
            <div>
            <ul>
                <li>
                    lieu de naissance:Naboo
                </li>
                <li>
                    année de naissance : 46 avant la bataille de Yavin
                </li>
            </ul>
            <ul>
                <li>
                    epouse d'Anakin Skywalker
                </li>
                <li>
                    ami d'obi Wan Kenobi
                </li>
            </ul>
        </div>
    </section>
    </section>
    <section id="grid">
        <div class="grid-item">
            <img class="item" src="../img/padm.jpg" alt="Anakin-Skywalker">
        </div>
        <div class="grid-item">
            <img class="item" src="../img/Amidala_1.webp" alt="Anakin-Skywalker">
        </div>
        <div class="grid-item">
            <img  class="item" src="../img/anakin+padme.jpg" alt="Anakin-Skywalker">
        </div>
        <div >
            <img class="item" src="../img/padm-2.jpg" alt="Anakin-Skywalker">
        </div>
        <div class="grid-item">
            <img class="item" src="../img/Padme_and_Anakin2.webp" alt="Anakin-Skywalker">
        </div>
    </section>
    <footer>
    <ul id="liste-1">
        <li>Contact</li>
        <li>About us</li>
        <li>Mention Legal</li>
    </ul>
    <ul id="liste-2">
        <li><a href="https://www.facebook.com/starwars.fr/">Facebook</a></li>
        <li><a href="https://www.instagram.com/starwars.fr/">instagram</a></li>
        <li><a href="https://twitter.com/starwars.fr/">Twitter</a></li>
    </ul>
</footer>
</body>

</html>