{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bienvenue dans notre blog sur les livres</h1>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas fugiat saepe, sed porro autem necessitatibus quis beatae temporibus ea sint cumque. Eius nihil deserunt porro iste cupiditate, impedit rerum quisquam.
</p>
{% endblock %}
